MyServiceProject/WebContent/wsdl/MyCalculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://examples.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://examples.com" xmlns:intf="http://examples.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://examples.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="greetings">
    <complexType>
     <sequence>
      <element name="in" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="greetingsResponse">
    <complexType>
     <sequence>
      <element name="greetingsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="greetingsRequest">

      <wsdl:part element="impl:greetings" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="greetingsResponse">

      <wsdl:part element="impl:greetingsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MyCalculator">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="greetings">

         <wsdl:input message="impl:greetingsRequest" name="greetingsRequest">

       </wsdl:input>

         <wsdl:output message="impl:greetingsResponse" name="greetingsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MyCalculatorSoapBinding" type="impl:MyCalculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="greetings">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="greetingsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="greetingsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MyCalculatorService">

      <wsdl:port binding="impl:MyCalculatorSoapBinding" name="MyCalculator">

         <wsdlsoap:address location="http://localhost:8081/MyServiceProject/services/MyCalculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
